.RegisterContainer {
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 1rem;
}

.links {
  margin: 20px 0;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: -0.4px;
}

.loginLink {
  color: #89c35c;
}

.errorMessage {
  background-color: red;
  padding: 10px;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 3px;
}
